//RECRYPT WALLET
APP_NAME = RECRYPT
APP_BUNDLE_IDENTIFIER = org.recrypt.recrypt-wallet

//RECRYPT iMessage
APP_IMESSAGE_NAME = RECRYPT
APP_IMESSAGE_BUNDLE_PREFIX = .iMessageExtension
APP_IMESSAGE_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_IMESSAGE_BUNDLE_PREFIX)

//RECRYPT Watch
APP_WATCH_NAME = RECRYPT
APP_WATCH_BUNDLE_PREFIX = .watchkitapp
APP_WATCH_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_WATCH_BUNDLE_PREFIX)

//RECRYPT Watch Extension
APP_WATCH_EXTEMSION_NAME = RECRYPT Watch Extension
APP_WATCH_EXTEMSION_BUNDLE_PREFIX = .watchkitapp.watchkitextension
APP_WATCH_EXTEMSION_BUNDLE = $(APP_BUNDLE_IDENTIFIER)$(APP_WATCH_EXTEMSION_BUNDLE_PREFIX)

//Version
APP_BUNDLE_VERSION = 0.10
APP_BUNDLE_VERSION_BUILD = 103

//Fabric
FABRIC_API_KEY = <FABRIC_API_KEY>
FABRIC_BUILD_SECRET = <FABRIC_BUILD_SECRET>

//API
APP_IS_MAINNET_SETTINGS = YES
APP_SERVER_SCHEME = https
APP_SERVER_HOST = walletapi.recrypt.org

//GoogleService
APP_GOOGLE_SERVICE_PLIST = ${SRCROOT}/GoogleService-Info-default.plist

